

.titulo {
    font-size: 30px;
    font-weight: bold;
}



.lista{
    background-color: green;
    font-weight: bold;
    font-size: 15px;
}

img{
    width: 10%;
    padding-left: 50%;
}

.Coordenadores {
    background-color: blue;
    font-size: 30px;
    text-decoration: underline;

}


.Metrica{
    background-color: red;
    font-size: 20px;
}

.Cadastrar {
    background-color: red;

}

.LiDocentes {
    background-color: blue;

}

.docentes {
    position: relative;
    right: 82px;
}

.textoCoordenacao {
    font-size: 30px;
    font-weight: bold;
}

.Documentos {
    background-color: lightgray;
}

.textoDocumentos {
    font-size: 20px;
}

.Estrutura {
    font-size: 15px;
}

.textoEstrutura {
    font-size: 50px;
}

.Secretaria {
    padding: 0em 5em 0em;
    text-decoration: underline;
}